<strong>Hi, {{student}},</strong>
<p>Do you remember this question you asked:</p>
<p>{{question}}</p>
<p>So, here's our experts' answer:</p>
<p>{{answer}}</p>
<p>Feel free to ask other questions at anytime.</p>
