<strong>Hi, {{student}},</strong>
<p>Welcome to Gympoint, the best bang for the buck in the neighbourhood!</p>
<p>You have just enrolled in the following plan:</p>
<p>
<strong>Plan: </strong> {{plan}} <br />
<strong>Until:</strong> {{end_date}} <br />
<strong>Price:</strong> {{price}} <br />
</p>
<p>
  Please, feel free to ask the instructors any questions you may have.
  In case you wish to modify your plan, please do so in our app or at
  the reception desk of your preferred gym.
</p>
